<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunus.nfcpay">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.NfcApp"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/appName"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PayResult"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.GetAmount"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ReadCard"
                   android:screenOrientation="portrait"/>
        <activity android:name=".activity.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>